* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Declaring variables */

:root {
  font-size: 62.5%;
  /* color palette */
  --color-text: #FFFFFF;
  --color-background: #121214;  

  --button-colors: #C4C4CC;

}

body {
  background-color: var(--color-background);
  font: normal 500 12.7rem/14.8rem 'Roboto', sans-serif;
  color: var(--color-text);

}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  gap: 1.6rem;
}

.toggleMode {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;

  display: flex;
  
  width: clamp(1rem, 1rem + 10vw, 4.8rem);
  height: clamp(1rem, 1rem + 10vw, 4.8rem);
}


.timer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(4rem, 6rem + 12vw, 12.6rem);  
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  margin: 0 auto;

  width: clamp(15rem, 15rem + 30vw, 31.2rem);
  height: clamp(2rem, 2rem + 10vw, 4.8rem);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: clamp(2rem, 2rem + 10vw, 4.8rem);
}


.hide {
  display: none;
}




