body {
  margin: auto ;
  text-align: center;
  background: #2C2B3D;
  max-width: 1280px;
  max-height: 720px;
  width: 100vw;
  height: 100vh;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  width: 1100px;
  height: 640px;
  margin: 70px 100px 20px;
}


ul {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 65px;
}


main h1 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  width: 610px;
}

.destaque {
  color: #00BFA6;
}

.conteúdo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.conteúdo p {
  width: 600px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 150px;
  height: 285px;
}

main img {
  height: 285px;

}

footer {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

#line {
  width: 568px;
  height: 0px;  
  border: 1px solid #00BFA6;
  margin: 0 auto 0;
}

#mais-info {
  margin: 25px auto 20px;
}

#cadeado {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
}







